@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(209, 209, 209);
  border-bottom-color: #0166ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  border-color: aliceblue;
}
